    @font-face {
        font-family: 'Monocraft';
        src: url('Font/Monocraft.ttc') format('truetype');
    }
    @keyframes pulse {
        0% { transform: scale(1); }
        50% { transform: scale(1.1); }
        100% { transform: scale(1); }
    }

   body {
        font-family: "Arial", sans-serif;
        background: #f5f5f5;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url(Pictures/School.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .game-container .timer-background img {
        position: fixed;       /* stays in the corner */
        top: 17px;
        right: 17px;
        width: 140px;           /* adjust size */
        height: auto;
        z-index: -1;
    }
    
    .game-container .quiz-header {
        display: flex;
        font-family: "Monocraft";
        justify-content: space-between;
    }

    .game-container .quiz-header .quiz-title {
        justify-content: center;
        text-align: center;
    }
    
    .game-container .quiz-header .quiz-timer {
        position: fixed;
        top: 1px;
        right: 40px;
        font-size: 25px;
        display: flex;
        color: #f5f5f5;
               
    }

    .game-container {
        background-image: url(Pictures/Box.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 90%;
        background-position-y: 25%;
        border: clamp(3px, 0.8vw, 6px) solid #543210;
        box-shadow: inset 0 0 0 clamp(2px, 0.5vw, 4px) #edceb1;
        width: 100%;
        height: 100%;
        padding: 15px;
        position: relative;
        transition: ease 1s;
    }

    .time-duration {
        animation: pulse 0.6s infinite;
    }



    .question-box {
        height: 100px;
        transform: translate(3.5%, 17%);
        border: #e74c3c;
        margin-bottom: 100px;
        word-wrap: break-word;
        padding: 50px;
        font-size: 35px;
        max-width: 1000px;
        display: flex;
        white-space: normal;
        align-items: center;
        justify-content: center;
        text-align: center;
        transition: ease 0.4s;
    }

    .game-container .choices  {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px;
        font-family: "Monocraft";
        transition: ease 0.3s;
    }

    .game-container .choice {
        transform: translate(0%, 40%);
        list-style-type: none;
        padding: 15px 20px;
        background: #ffffff;
        border: 3px solid rgb(105, 43, 20);
        text-align: center;
        cursor: pointer;
        transition: ease 0.3s;
        transition: transform 0.3s ease, box-shadow 0.6s ease;
    }

    .choice:hover {
        background: rgb(247, 216, 203);
        transform: translateY(1px);
        box-shadow: 0 4px 0 #3a1f0f;
    }



