@font-face {
    font-family: 'Monocraft';
    src: url('Font/Monocraft.ttc') format('truetype');
}

   body {
        font-family: "Arial", sans-serif;
        background: #f5f5f5;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background-image: url(Pictures/School.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .game-container .timer-background {
        position: absolute;
        top: 3%;
        transform: translate(1390%, -30%);
        z-index: -1;
    }
    
    .game-container .quiz-header {
        display: flex;
        align-items: center;
        transform: translate(0%, -60%);
        font-family: "Monocraft";
        justify-content: space-between;
    }

    .game-container .quiz-header .quiz-title {
        justify-content: center;
    }
    
    .game-container .quiz-header .quiz-timer {
        position: absolute;
        transform: translate(2300%, -18%);
        font-size: 25px;
        display: flex;
        color: #f5f5f5;
               
    }

    .game-container {
        background-image: url(Pictures/Box.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 90%;
        background-position-y: 25%;
        width: 200vh;
        border: none;
        padding: 15px;
        margin-bottom: 1px;
        transition: ease 1s;
    }

    .question-box {
        height: 100px;
        transform: translate(3.5%, 17%);
        border: #e74c3c;
        margin-bottom: 100px;
        word-wrap: break-word;
        padding: 50px;
        font-size: 35px;
        max-width: 1000px;
        display: flex;
        white-space: normal;
        align-items: center;
        justify-content: center;
        text-align: center;
        transition: ease 0.4s;
    }

    .game-container .choices  {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px;
        font-family: "Monocraft";
        transition: ease 0.3s;
    }

    .game-container .choice {
        transform: translate(0%, 40%);
        list-style-type: none;
        padding: 15px 20px;
        background: #ffffff;
        border: 3px solid rgb(105, 43, 20);
        text-align: center;
        cursor: pointer;
        transition: ease 0.3s;
    }

    .choice:hover {
        background: rgb(232, 190, 174)
    }



